@use "../variables";

.account-bar {
  background: variables.$color-brand;
  font-family: "ProximaNova";
  padding: 6px 0;

  a {
    color: white;

    &:hover {
      filter: brightness(0.8);
    }

    & + a {
      margin-left: 27px;
      
      @media screen and (max-width: variables.$breakpoint-x-small) {
        margin-left: 10px;
      }
    }
  }
}

.account-bar__inner {
  display: flex;
  justify-content: space-between;
}
