@use "../variables";

.careers-advice {
    padding: 20px;
    height: auto;


    .careers {
        display: flex;
        flex-direction: row;

        @media screen and (max-width: variables.$breakpoint-medium) {
            flex-direction: column;
        }
    }

    &__ad {
        width: calc(100%/4);
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (max-width: variables.$breakpoint-medium) {
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
        }

        @media screen and (max-width: variables.$breakpoint-small) {
            flex-direction: column;
        }
    }

    &__ad-image {
        margin: 30px;
    }

    &__ad-content {
        background-image: url('../images/advertise-bg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-blend-mode: overlay;
        background-color: rgba(0, 0, 0, 0.6);
        width: 290px;
        height: 210px;
        color: #fff;
        padding: 15px;

        @media screen and (max-width: variables.$breakpoint-medium) {
            margin: 0 30px;
        }
    }

    &__ad-title {
        font-size: 21px;
    }

    &__ad-list {
        font-size: 15px;
        padding-left: 20px;
        padding-bottom: 25px;
    }

    &__ad-button-container {
        width: 150px;
        &:hover {
            transform: scale(1.1);
        }
    }

    &__ad-button {
        color: #fff;
        background-color: variables.$color-secondary;
        padding: 10px 20px;
        border-radius: 5px;

        &:hover {
            text-decoration: none;
            filter: brightness(0.8);
        }
    }

    &__blog {
        width: calc(100%/4 * 3);
        padding-left: 75px;

        @media screen and (max-width: variables.$breakpoint-medium) {
            width: 100%;
            padding-left: 0;
        }
    }
}