@use "../variables";

.employers {
    background-color: variables.$color-brand;
    height: auto;
    overflow: hidden;

    &__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        
        h2, a {
            color: #fff;
            margin: 20px 0;
        }

        a {
            display: flex;
            text-decoration: none;
            align-items: center;

            &:hover {
                filter: brightness(0.8);
            }
        }
    }

    &__logos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 0;
        overflow: hidden;

        .logo {
            &__image {
                height: 85px;
            }

            @media screen and (max-width: variables.$breakpoint-medium) {
                flex: 0 0 auto;
                display: inline-block;
                margin-right: 15px;
            }
        }

        @media screen and (max-width: variables.$breakpoint-medium) {
            overflow-x: auto;
            scroll-behavior: smooth;
            padding: 20px;
            white-space: nowrap;
        }
    }
}