{% extends 'layouts/furniture.njk' %}

{% block hero %}  
<div class="hero-section">
    <div class="wrapper">
        <div class="hero-section__title">
            <h1>{{ heroMessage }}</h1>
            <h2>{{ heroSubtitle }}</h2>
        </div>
    </div>
    <div class="hero-section__search search">
        {% include 'includes/search-widget.njk' %}
    </div>
</div>
{% endblock %}

{% block browse %}
    {% include 'includes/browse.njk' %}
{% endblock %}

{% block cta %}
    <div class="cta">
        <div class="wrapper">
            <div class="ctas">
                {% for item in ctas %}
                    <div class="cta-item">
                        <div class="cta-item__icon">
                            <img src="{{ assetPath }}/images/_ctas/{{ item.icon }}.svg" alt="{{ item.icon }} logo" class="company__logo"/>
                        </div>
                        <div class="cta-item__title">
                            <h2>{{ item.title }}</h2>
                        </div>
                        <div class="cta-item__subtitle">
                            <h3>{{ item.subtitle }}</h3>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block employers %}
    <div class="employers">
        <div class="wrapper">
            <div class="employers__title">
                <h2>Featured employers</h2>
                <a href="#" class="view-all">View all employers &raquo;</a>
            </div>

            <div class="employers__logos">
                {% for item in employers %}
                    <div class="employer__logos-logo logo">
                        <a href="{{ item.logo }}"><img src="{{ assetPath }}/images/_employers/{{ item.logo }}.png" alt="{{ item.employer }}" class="logo__image"/></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block careers_advice %}
<div class="careers-advice">
    <div class="wrapper">
        <div class="careers-advice__ad">
            <img src="{{ assetPath }}/images/mpu.png" alt="Ad image" class="careers-advice__ad-image" />
            <div class="careers-advice__ad-content">
                <h3 class="careers-advice__ad-title">Advertise with us</h3>
                <ul class="careers-advice__ad-list">
                    <li class="careers-advice__ad-item">Post jobs and monitor applications</li>
                    <li class="careers-advice__ad-item">Search candidate database</li>
                    <li class="careers-advice__ad-item">Filter applications</li>
                </ul>
                <a href="#" class="careers-advice__ad-button">Post a job</a>    
            </div>
        </div>


    <!-- to do: add blog block here -->
    </div>
</div>
{% endblock %}