{% extends 'layouts/furniture.njk' %}
{% import 'includes/info-block.njk' as info %}

{% block hero %}  
<div class="hero-section">
    <div class="wrapper">
        <div class="hero-section__title">
            <h1>{{ heroMessage }}</h1>
            <h2>{{ heroSubtitle }}</h2>
        </div>
    </div>
    <div class="hero-section__search search">
        {% include 'includes/search-widget.njk' %}
    </div>
</div>
{% endblock %}

{% block browse %}
    {% include 'includes/browse.njk' %}
{% endblock %}

{% block cta %}
    <div class="cta">
        <div class="wrapper">
            <div class="ctas">
                {% for item in ctas %}
                    <div class="cta-item">
                        <div class="cta-item__icon">
                            <img src="{{ assetPath }}/images/_ctas/{{ item.icon }}.svg" alt="{{ item.icon }} logo" class="company__logo"/>
                        </div>
                        <div class="cta-item__title">
                            <h2>{{ item.title }}</h2>
                        </div>
                        <div class="cta-item__subtitle">
                            <h3>{{ item.subtitle }}</h3>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block employers %}
    <div class="employers">
        <div class="wrapper">
            <div class="employers__title">
                <h2>Featured employers</h2>
                <a href="#" class="view-all">View all employers &raquo;</a>
            </div>

            <div class="employers__logos">
                {% for item in employers %}
                    <div class="employer__logos-logo logo">
                        <a href="{{ item.logo }}"><img src="{{ assetPath }}/images/_employers/{{ item.logo }}.png" alt="{{ item.employer }}" class="logo__image"/></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block careers_advice %}
<div class="careers-advice">
    <div class="wrapper careers">
        <div class="careers-advice__ad">
            <img src="{{ assetPath }}/images/mpu.png" alt="Ad image" class="careers-advice__ad-image" />
            <div class="careers-advice__ad-content">
                <h3 class="careers-advice__ad-title">Advertise with us</h3>
                <ul class="careers-advice__ad-list">
                    <li class="careers-advice__ad-item">Post jobs and monitor applications</li>
                    <li class="careers-advice__ad-item">Search candidate database</li>
                    <li class="careers-advice__ad-item">Filter applications</li>
                </ul>
                <div class="careers-advice__ad-button-container">
                    <a href="#" class="careers-advice__ad-button">Post a job</a>  
                </div>  
            </div>
        </div>
        <div class="careers-advice__blog">
            {% include 'includes/blog.njk' %}
        </div>
    </div>
</div>
{% endblock %}

{% block information %}
    <div class="information">
        <div class="wrapper info">
            <div class="information__blocks">
                <div class="information__about-us">
                    {% set aboutUs = {
                        title: "About us",
                        description: "Differentiate and you stand out in a crowded marketplace. Present your uniqueness and emphasize your rare attributes in your sales copy and promotions and you’ll capture the imagination and interest of those you want to reach. In a world of copycats, it pays to be an original. It’s usually the creator of a new concept who gets the most com",
                        bgColor: "#f7f7f7"
                    } %}
                    {{ info.infoBlock(aboutUs.title, aboutUs.description, aboutUs.bgColor) }}
                </div>
                <div class="information__app">
                    {% set appInfo = {
                        title: "Download our new app",
                        description: "Easily manage your job search on the go with our iPhone app. Instant job notifications. Search, shortlist and apply.",
                        bgColor: "#e6f3ff",
                        image: "{{ assetPath }}/images/mobile-app.png",
                        imageAlt: "Download on the App Store",
                        button: { link: "#", text: "Download on the App Store" }
                    } %}
                    {{ info.infoBlock(appInfo.title, appInfo.description, appInfo.bgColor, appInfo.image, appInfo.imageAlt, null, appInfo.button) }}
                </div>
                <div class="information__campaign">
                    {% set campaigns = {
                        title: "Featured campaigns",
                        description: "",
                        bgColor: "#f7f7f7",
                        list: [
                            { link: "#", text: "Jobs in the United States" },
                            { link: "#", text: "Management jobs in New York" },
                            { link: "#", text: "Graduate jobs" },
                            { link: "#", text: "Engineering jobs in Chicago" },
                            { link: "#", text: "Jobs in California" },
                            { link: "#", text: "View more »" }
                        ]
                    } %}
                    {{ info.infoBlock(campaigns.title, campaigns.description, campaigns.bgColor, null, null, campaigns.list) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}