<links>
    <ul class="page-footerlinks u-reset-list">
    {% for item in footerItems %}
        <li class="page-footerlinks__item"><a href="{{ item.href }}">{{ item.label }}</a></li>
    {% endfor %}
    </ul>
</links>