<social>
    <div class="page-footerbottom">
        <h4 class="page-footerbottom_copyright">© 2016. Powered by Madgex</h4>
        <div class="page-footerbottom_links">
            {% for social in socialIcons %}
                <a class="page-footerbottom__item" aria-label="{{ social.label }}" href="#">
                    <img src="{{ assetPath }}/images/_social/{{social.src}}">
                </a>
            {% endfor %}
        </div>
    </div>
</social>