<nav>
  <div class="account-bar">
    <div class="wrapper">
      <div class="account-bar__inner">
        <a href="#">Visit PxlPro.com</a>
        <div class="account-bar__inner-signup">
          <a href="#">Sign in</a>
          <a href="#" class="u-hide-x-small">Create account</a>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="page-header">
      <img src="{{ assetPath }}/images/logo.png" alt="Pxl Pro Jobs Logo" class="page-header__logo">
      <div class="page-header__burger">&#9776;</div>
      <ul class="page-header__nav" id="navItems">
        {% for item in navItems %}
          <li class="page-header__nav-item"><a href="{{ item.href }}">{{ item.label }}</a></li>
        {% endfor %}
      <li class="page-header__nav-item">
        <a href="#" class="page-header__button">Advertise a job</a>
      </li>
      </ul>
    </div>
  </div>
</nav>